<table>
  <tbody>
    <tr>
      <th>Movie ID</th>
      <td>{{Movie_ID}}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{Title}}</td>
    </tr>
    <tr>
      <th>Year</th>
      <td>{{Year}}</td>
    </tr>
    <tr>
      <th>Runtime</th>
      <td>{{Runtime}}</td>
    </tr>
    <tr>
      <th>Genres</th>
      <td>{{Genres}}</td>
    </tr>
    <tr>
      <th>Director</th>
      <td>{{Director}}</td>
    </tr>
    <tr>
      <th>Actors</th>
      <td>{{Actors}}</td>
    </tr>
    <tr>
      <th>Language</th>
      <td>{{Language}}</td>
    </tr>
    <tr>
      <th>Country</th>
      <td>{{Country}}</td>
    </tr>
    <tr>
      <th>Poster</th>
      <td><img src="{{Poster}}" alt="{{Title}} Poster" width="100" /></td>
    </tr>
  </tbody>
</table>