<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Movie ID</th>
      <th>Title</th>
      <th>Year</th>
      <th>Runtime</th>
      <th>Genres</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Language</th>
      <th>Country</th>
      <th>Poster</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <td>{{this.Movie_ID}}</td>
        <td>{{this.Title}}</td>
        <td>{{this.Year}}</td>
        <td>{{this.Runtime}}</td>
        <td>{{this.Genres}}</td>
        <td>{{this.Director}}</td>
        <td>{{this.Actors}}</td>
        <td>{{this.Language}}</td>
        <td>{{this.Country}}</td>
        <td><img
            src="{{this.Poster}}"
            alt="{{this.Title}} Poster"
            width="100"
          /></td>
      </tr>
    {{/each}}
  </tbody>
</table>